.previewer {
	width: 100%;
	padding: 20px;
	margin: 0;
	background-color: #2884b8;
	background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);
	border-radius: 20px;
	font-size: 20px;
	color: black;

	.h2-only {
		padding: 10px;
		text-align: center;
	}
}
